spring:
  config:
    import: optional:file:.env[.properties]
    activate:
      on-profile: security

  security:
    permit-all-paths:
      - /users/temporary/register
      - /users/email/verify-token
      - /users/email/verification
      - /users/signup
      - /users/existing/register
      - /users/verify-duplicate/{account}
      - /users/validate-passwords-match
      - /users/find-account/{email}
      - /users/auth/send-code
      - /users/auth/verify-token
      - /users/reset-password
      - /users/email/resend-confirmation
      - /users/login
      - /users/check/{email}/duplicate
      - /auth/login
      - /auth/signup
      - /auth/check-Id
      - /auth/signup/verification-mail
      - /auth/signup/verify
      - /auth/password/reset-code
      - /auth/password/verify
      - /auth/password/reset
      - /auth/find-id
      - /auth/refresh
      - /club-leader/login
      - /admin/login
      - /integration/**
      - /mainPhoto/**
      - /introPhoto/**
      - /notice/Photo/**
      - /my-notices/**
      - /my-notices/**
      - /profiles/duplication-check
      - /mypages/clubs/{floor}/photo
      - /clubs
      - /clubs/open
      - /clubs/open/filter
      - /clubs/filter/**
      - /clubs/*
      - /images/logo.png
      - /health-check
      - /swagger-ui.html
      - /swagger-ui/**
      - /v3/api-docs
      - /v3/api-docs/**
      - /api
      - /api/**
      - /docs
      - /

    logging-paths:
      - /admin/**
      - /notices/**
      - /club-leader/**

    methods:
      - POST
      - DELETE
      - PUT
      - PATCH

springdoc:
  swagger-ui:
    path: /
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs